body{
    background-color: rgb(56, 56, 130);
}
.outerdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: 1px solid red; */
    
}
.innerdiv{
    /* border: 1px solid black; */
    height: 200px;

}
.main-heading{
    font-size: 75px;
    color: aliceblue;
}